#app {
    margin: 20px;
}

.option {
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input:not([type=radio]):not([type=checkbox]):not(.smaller) {
    width: calc(100% - 10px);
}

.card {
    border: 2px solid #535353;
    border-radius: 5px;
    padding: 0px 9px;
    margin-bottom: 5px;
}

.card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select {
    padding: 10px 5px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-top: 1px solid #535353;
}

.secondary-settings, .submodules {
    margin-left: 20px;
}