<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Coding</title>
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="primary-settings">
				<h2>Primary settings</h2>

				<div class="option">
					<label for="">Project name</label><br>
					<input type="text" v-model="project.name">
				</div>

				<div class="option">
					<label for="">Version</label><br>
					<input type="text" v-model="project.version">
				</div>
		
				<div class="option">
					<input type="radio" id="application" value="Application" v-model="project.type">
					<label for="application">Application</label>
					<br>
					<input type="radio" id="library" value="Library" v-model="project.type">
					<label for="library">Library</label>
				</div>
		
				<div class="option">
					<label for="">{{ project.type }} name</label><br>
					<input v-model="project.appOrLibName">
				</div>
			</div>

			<div class="secondary-settings">
				<h2>Secondary settings</h2>

				<div class="option">
					<label for="">Folder for external dependencies</label><br>
					<input type="text" v-model="project.external">
				</div>
				
				<div class="option">
					<label for="">Folder for source files</label><br>
					<input type="text" v-model="project.src">
				</div>
				
				<div class="option">
					<label for="">Folder for build files</label><br>
					<input type="text" v-model="project.build">
				</div>

				<div class="option">
					<select v-model="project.codeCase" @change="codeCaseChanged($event)">
						<option value="pascal">PascalCase</option>
						<option value="camel">camelCase</option>
						<option value="snake">snake_case</option>
					</select>
				</div>
			</div>

			<div class="submodules">
				<h2>Submodules</h2>

				<div class="option" v-for="(submodule, i) in project.submodules" :key="i">
					<input placeholder="URL" type="text" v-model="submodule.url">
					<input placeholder="Desired name" type="text" v-model="submodule.name">
					<button @click="removeSubmodule(i)">X</button>
				</div>
				<button @click="addSubmodule()">Add</button>
			</div>
		</div>
	
		<button @click="createStructure">
			Create structure
		</button>
	</div>
</body>
</html>