#app {
    margin: 20px;
}

.option {
    margin-bottom: 10px;
}

input, select {
    padding: 10px 5px;
}

.container {
    display: flex;
    flex-direction: row;
}

.secondary-settings, .submodules {
    margin-left: 20px;
}