#app {
    margin: 0px 20px;
}

.option {
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input:not([type=radio]):not([type=checkbox]):not(.smaller) {
    width: calc(100% - 10px);
}

.card {
    border: 1px solid #535353;
    /* border-radius: 5px; */
    padding: 0px 9px;
    margin-bottom: 5px;
}

.card__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input, select {
    padding: 10px 5px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-top: 1px solid #535353;
    font-size: small;
}

.secondary-settings, .submodules {
    margin-left: 20px;
}

.create-button {
    margin-left: 30px;
}

.flex {
    display: flex;
}

/* overloading */

button, input, select {
    border-radius: 0px;
}

button {
    color: #fff;
    padding: 0px 8px;
    font-size: 14px;
    font-weight: 400;
}

p {
    margin: 0px;
}